<div class="modal-backdrop" (click)="onCancel()"></div>
<div class="modal">
  <h2>Create New Task</h2>
  <form (ngSubmit)="save()">
    <label>
      Title:
      <input [(ngModel)]="newTitle" name="title" required />
    </label>
    <label>
      Description:
      <textarea [(ngModel)]="newDescription" name="description"></textarea>
    </label>
    <div class="modal-actions">
      @if (createTask.error()) {
        <p class="error-message">Failed to save task, try again</p>
      }
      <button type="submit" [disabled]="(newTitle().trim() === '') || (newDescription().trim() === '')">Save</button>
      <button type="button" (click)="onCancel()" [disabled]="createTask.error()">Cancel</button>
    </div>
  </form>
</div>



