

<div class="home-page-container">
  <div class="main-content">
    <h1 class="app-title">welcome to toodoo</h1>
    <p class="subheading">t h e &nbsp; l i g h t w e i g h t &nbsp; t a s k &nbsp; m a n a g e r</p>

    <section class="hero">
      <!-- <h2>welcome</h2> -->
      <!-- <p>Log in to access your toodoo.</p> -->
      <button routerLink="/tasks" class="login-button"> g o &nbsp; t o &nbsp; t a s k s </button>
      <button routerLink="/login" class="login-button"> l o g &nbsp; i n </button>
    </section>
  </div>

  <footer class="footer">
    <p>&copy; 2025 toodoo. All rights reserved.</p>
  </footer>
</div>